<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
    <heliconZoo>
        <application name="nodejs.project.x86">
            <environmentVariables>
                <add name="APP_WORKER" value="%APPL_PHYSICAL_PATH%\server.js" />
                <add name="NODE_PATH" value="%APPL_PHYSICAL_PATH%\node_modules" /> 
            </environmentVariables>
        </application>
        <application name="nodejs.project.x64">
            <environmentVariables>
                <add name="APP_WORKER" value="%APPL_PHYSICAL_PATH%\server.js" />
                <add name="NODE_PATH" value="%APPL_PHYSICAL_PATH%\node_modules" /> 
            </environmentVariables>
        </application>
    </heliconZoo>
    <handlers>
            <remove name="Helicon.Ape Handler" />
        <add name="nodejs.project.x86" scriptProcessor="nodejs.http4" path="*" verb="*" modules="HeliconZoo_x86" preCondition="bitness32" resourceType="Unspecified" requireAccess="Script" />
        <add name="nodejs.project.x64" scriptProcessor="nodejs.http4" path="*" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    
    <!-- Send static files through IIS -->
    <rewrite>
        <rules>
            <rule name="Avoid Static Files" stopProcessing="true">
                <match url="^(?!public)(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
                        <add input="{APPL_PHYSICAL_PATH}" pattern="(.*)" ignoreCase="false" />
                        <add input="{C:1}public\{R:1}" matchType="IsFile" />
                    </conditions>
                <action type="Rewrite" url="public/{R:1}" />
            </rule>
        </rules>
    </rewrite>
        <modules>
            <remove name="Helicon.Ape" />
        </modules>
</system.webServer>
</configuration>
